*{
    font-family: sans-serif; 
}



.container{
    width: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
  }
  
  .full-screen {
    position:relative;
    display:grid;
    top: 30%;
    width: 350px;
  }


.destaque_index{
    color: #6F1ABD;
    font-size: 15pt;
    font-weight: bold;    
}

.menu_horizontal{            
    background: #ffffff;
    display:grid;
    padding: 0px 380px;
    position: sticky;
    top: 0;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    
}

.menu_horizontal >ul{
    font-size: 0;
    float: right;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu_horizontal > ul > li{
    display: inline-flex;
    font-size: 15px;    
    padding-right: 20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.menu_horizontal > ul > li a{
    color: #000000;     
    text-decoration:none; 
}

.menu_horizontal > ul > li a:hover{      
    color: #2492F1 !important;
}
.texto1{
    text-transform: uppercase;    
    font-size: 13pt;
    font-weight:normal;
}
.texto2{
    font-size: 20pt;
    font-weight: bold;
}
.texto3{
    font-size: 12pt;
    font-weight:normal;
}