*{
    font-family: sans-serif; 
}



.container{
    width: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
  }
  
  .full-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



.destaque_index{
    color: #6F1ABD;
    font-size: 15pt;
    font-weight: bold;    
}

.menu_horizontal{            
    background: #ffffff;
    display:grid;
    padding: 0px 380px;
    position: sticky;
    top: 0;
    border-radius: 10px;
    position: fixed;
}

.menu_horizontal >ul{
    font-size: 0;
    float: right;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu_horizontal > ul > li{
    display: inline-flex;
    font-size: 15px;    
    padding-right: 20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.menu_horizontal > ul > li a{
    color: #000000;     
    text-decoration:none; 
}

.menu_horizontal > ul > li a:hover{      
    color: #2492F1 !important;
}
