*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  font-family: sans-serif;
  color: #6F1abd;
}


.home_header {
  margin: 5px;
  border-color: #9a7cbd;
  background-color: #9a7cbd; 
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;    
  min-height: 5vh;
  border-radius: 4px;  
  padding: 20px;
  list-style: nome;   
}

@media (max-width: 600px) {
  .home_header{
   display: block; 
  }
}

.home_header_navbar {
  display: inline-flex;
  gap: 2px;  
  font-size: 15px;
}

@media (max-width: 600px) {
  .home_header_navbar{
   display: block; 
  }
}

a {
  color: #6F1abd; 
}

.home_header_navbar_item:hover a:hover {
  scale: 1.1;
  color: rgb(94, 47, 138);  
  transition: all 0.4s ease-in-out; 
  border-radius: 4px;
  border-color: rgb(94, 47, 138);
  padding: 3px; 
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

li{   
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
  border-left: 2px solid rgb(94, 47, 138);
  border-right:2px solid rgb(94, 47, 138);
  border-radius: 5px;
  padding: 3px;   
}

#login{      
  background-color: rgb(94, 47, 138);
  color: white;
  padding: 4px;
  border-radius: 7px;
}

#logo{
  width: 150px;
  height: 50px;
  margin: 1%;
}

/* img {
  display: flex;
  margin: 30px;  
  border-radius: 4px;
  width: 400px;
  height: 200px;
  margin-top: 100px;
  align-items: center;
  padding: ;
}  */

/* @media (max-width: 600px) {
  img {
   display: block; 
  }
} */

.area-image {
  /* display: flex; */
  margin-left: 600px;
  margin-right: 600px;  
  height: 360px; 
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  width: 700px;


}

img {
  /* display: flex;
  margin: 30px;  
  border-radius: 4px;
  width: 400px;
  height: 200px;
  margin-top: 100px;
  align-items: center; */
  border-radius: 4px;
  width: 600px;
  height: 360px;
  margin-top: 0.1;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 50px;
} 

@media (max-width: 700px) {
  .area-image{
   display: block; 
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border-radius: 4px;
   flex-direction: column-reverse;

  }
}

input[type=email] {   
  height: 40px;
  width: 100%;
  background: rgba(0 0 0 0);
  text-align: left;
  color: black;
  text-transform: none;
  font-size: 20px;
  letter-spacing: 2px;
  border-color: rgba(112, 27, 223, 0.651);
  margin: 8px;
  border-width: 3px;
  border-radius: 4px;
}

input[type=password] {
  height: 40px;
  width: 100%;
  background: rgba(0 0 0 0);
  text-align: left;
  color: black;
  text-transform: none;
  font-size: 20px;
  letter-spacing: 2px;
  border-color: rgba(112, 27, 223, 0.651);
  margin: 8px;
  border-width: 3px;   
  border-radius: 4px;
}

/* img {
  margin: 20px;  
  border-radius: 4px;
}

@media (max-width: 600px) {
  img {
   display: block; 
  }
} */

header {
  min-height: 5vh;
  background: rgba(149, 93, 223, 0.651);
  border-color: rgba(128, 53, 226, 0.651);
}

fieldset {
  margin: 5px;
  height:350px;
  width: 30%;
  font-style: italic;
  font-family: sans-serif;
  /* background: rgba(149, 93, 223, 0.651); */
  background: #b49fcc;
  font-size: 18px;
  border-radius: 4px;
  padding: 3px 45px 3px 45px;
  text-align: left;
  color: black;
  border-color: rgba(128, 53, 226, 0.651);   
} 

@media (max-width: 600px) {
  fieldset {
   display: block; 
  }
}

label {
    /* color: rgba(97, 33, 156, 0.945); */
  color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

.orientacao {
  margin-top: 1.5rem;
  font-size: .7rem;
}

section {
  word-spacing: 15px;
}

a {
  text-decoration: none;  
  color:#f1f1f1;
}

nav {
  text-decoration: none;  
  color:#f19953;
}

legend {
  color: #6F1abd;
  font-size: 25px;
}

button {
  font-size: 20px;
  color:#f1f1f1;
  border-color:rgba(128, 53, 226, 0.651);
  /* border-color: #6F1abd; */
  background: #6F1abd;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  
}

div {
  margin: 5px;
  display: flex;
  justify-content: center;
  height: 280px;
}

footer {
  position:absolute;
  bottom: 0;
  width: 80%;
  height: 100px;
  line-height: 100px;
  font-size: 17px;
  font-style: italic;
  font-family: sans-serif;
}

/* --- Estilos dinâmicos --- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}